 body {
            margin: 0;
            font-family: Arial, sans-serif;
        
            background: linear-gradient(to bottom, #8267f0, #cfd5e6);

            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .container {
            width: 520px;
            margin: 80px auto;
            background: linear-gradient(to bottom, #ffffff, #e0e0e0);
            padding: 30px;
            border-radius: 12px;
            text-align: center;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
        }

        h1 {
            margin-bottom: 20px;
        }

        input {
            width: 70%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 6px;
            border: 1px solid #aaa;
            font-size: 14px;
        }

        .btn {
            padding: 10px 14px;
            margin: 6px;
            border: none;
            border-radius: 6px;
            background: #1976d2;
            color: white;
            cursor: pointer;
            font-size: 14px;
        }

        .btn:hover {
            background: #125aa0;
        }

        p {
            margin-top: 20px;
            font-size: 16px;
        }